body {
margin: 0;
}
/*.header{
  height: 100px;
  background-color: white;
  font-size: 20px;
}*/
.top-img, .middle-img {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.top-img{
  min-height: 100vh;
  background-image: url("img/Tahoe.JPG");
}
.middle-img{
  min-height: 400px;
  background-image: url("img/close-up.JPG");
}
.hero {
    padding: 50px 80px;
    background-size: 1440px;
    background-position: center;
    background-image: url("img/wood-texture.JPG");
    text-align: center;
    text-align: justify;
}
