@import url('https://fonts.googleapis.com/css?family=Lato:900');

body {
  margin: 0;
}
a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}
.header{
  padding: 20px;
  height: 50px;
  background-color: gray;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  word-spacing: 75px;
  text-decoration: none;
  color: white;
}

h3 {
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: 'lato', sans-serif;
}

.hero {
    margin: -20px 0px;
    padding: 3%;
    height: auto;
    color: #777;
    background-color: white;
    text-align: center;
    text-align: justify;
    background-image: url("img/metal.jpg");
    background-size: cover;
}

li {
  display: inline;
  float: none;
  text-decoration: none;
}

.caption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #000;
    text-align: center;
    text-decoration: none;
}

.caption span.border {
    padding: 18px;
    color: white;
    background-color: grey;
    opacity: .50;
    font-size: 50px;
    letter-spacing: 10px;
}

.top-img, .middle-img, .bottom-img, .footer-img {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.top-img {
  min-height: 100vh;
  background-image: url("img/top1.JPG");
}

.middle-img {
  min-height: 100vh;
  background-image: url("img/wood.jpg");
}

.bottom-img {
  min-height: 100vh;
  background-image: url("img/Tahoe.jpg");
}

.footer-img {
  min-height: 100vh;
  background-image: url("img/sf.JPG");
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: gray;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container1 {
    border-radius: 5px;
    
    padding: 20px;
}

@media (min-width: 320px) and (max-width: 768px) {
  a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
  }
}
