.top-img, .middle-img {
  position: relative;
  opacity: 0.65;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.top-img {
  min-height: 100vh;
  background-image: url("img/top1.JPG");
}

.middle-img {
  min-height: 100vh;
  background-image: url("wood1.jpg");
}
